h1 {
    text-align: center;
    font-weight: bold;
    font-family: Calibri;
    font-size: 32px;
}

.nikolaj-se-top-genre{
    display: flex;
    flex-direction: column;
}
.nikolaj-text-til-graf{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: Calibri;
}
.nikolaj-graf{
    width: 66%;
    margin-left: auto;
    margin-right: auto;
}

